
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create Wallet Address</h4>
      </div>
      <form  method="post" class="modal-form">
        <div class="modal-body text-center">
          <p class="hidden-xs">This will create a random Bitcoin wallet address.</p>
          <p class="visible-xs">Create a Bitcoin wallet address.</p>
          <input type="text" value="" name="label" ng-model="labelForNewAddress" class="form-control" placeholder="Optional label, examples: myhomewallet, pocketmoney, savings, ..." autocomplete="off" />
        </div>
        <div class="modal-footer">
          <p class="text-muted">Labels are <strong>not</strong> wallet addresses.<span class="hidden-xs"> Leave blank if unsure.</span></p>
          <button type="button" class="btn btn-md btn-default" ng-click="cancel()">Cancel</button>
          <button type="submit" class="btn btn-md btn-success" ng-click="createNewAddress()"   >Create</button>
        </div>
      </form>


      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Deposit Bitcoin</h4>
      </div>
      <div class="modal-body text-center">
        {{currentAddress.userAddress}}
        <div style="margin-bottom: 10px;">
          <kbd class="deposit-address break-word hidden-md hidden-lg selectable-plain"></kbd>
          <h4 class="deposit-address break-word hidden-xs hidden-sm"></h4>
        </div>
        <qrcode data={{currentAddress.userAddress}} size="200" ></qrcode>
        <p>You can send Bitcoin to the above address.</p>
        <p class="text-muted"><i class="text-info fa fa-info-circle poptip" data-placement=right data-toggle=tooltip title="This is a MultiSig address. If the sending service/wallet says this address is incorrect, that service/wallet does not support MultiSig addresses, and is most likely outdated and insecure."></i>            Address is invalid?</p>
      </div>
      <div class="modal-footer">
        <p class="text-muted text-left">Confused about something? <a href="/contacts" target="_blank" rel="noreferrer">Contact us</a>, we're happy to help.</p>
        <button class="btn btn-default btn-md" data-dismiss="modal">Cancel</button>
        <button class="btn btn-info btn-md reloadbutton">Done</button>
      </div> -->
