
  <div class="container" style="margin: 0 auto;">
    <div class="row" style="margin-bottom: 25px;">
      <span class="currency_symbol notranslate hidden" translate="no">&#3647;</span>
      <span class="cur_network notranslate hidden" translate="no">btc</span>
      <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-4 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-offset-2 col-xs-10">
          <h2>
            {{user.balance}}
              &#3647;<br>
              <small>
                Balance
  	           </small>
          </h2>
        </div>
        <div class="col-md-3 col-md-offset-0 col-sm-6 col-xs-offset-2 col-xs-10">
          <h2 class="poptip" data-toggle="tooltip"
          title="Block.io requires 3 network confirmations for Bitcoin sent by non-Block.io addresses.">
          <span class="text-muted">0.000 &#3647;</span><br><small>Pending Rec'd</small></h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-1 col-md-offset-3 col-xs-2 col-xs-offset-2 poptip" data-toggle=tooltip title="Send &#3647; to anyone.">
          <button class="btn btn-lg btn-default btn-responsive poptip " ng-click="sendAmountToAnotherAddressOpenModal()"><i class="fa fa-send-o text-success fa-fw"></i></button>
        </div>
        <div class="col-md-2 col-xs-2 text-left">
          <button class="btn btn-lg btn-default btn-responsive poptip depositbutton"
          ng-click="viewQRCodeModal(user.userAddresses[1])" title="Deposit &#3647; into your Block.io account" data-toggle=tooltip>
            <i class="fa fa-qrcode text-primary fa-fw"></i>
          </button>
        </div>
        <div class="col-md-1 col-xs-2 col-md-offset-1">
          <button class="btn btn-lg btn-default btn-responsive poptip "
          ng-click="createNewAddressOpenModal()" title="Create a New Address" data-toggle=tooltip>
              <i class="fa fa-plus-square-o fa-fw"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- <h1 ng-repeat="x in user.userAddresses">{{x.userAddress}}</h1> -->
    <div class="box" style="margin-bottom: 50px;">
      <div class="center">
        <div class="box text-shadow">
          <div  class="box jplist" ng-repeat="usertemp in user.userAddresses">
            <div ng-hide="usertemp.userAddress==''" class="list box text-shadow address-container">
              <div class="list-item box row address-row dash-font-size">
                <div class="col-sm-12 col-md-12 text-left top-bottom-padding-5">
                  <span class="col-xs-9 col-sm-3 col-md-2 addrlabel text-left notranslate poptip" style="word-wrap: break-word; padding-top: 10px;" data-toggle=tooltip title="Label">
                   {{usertemp.label}}
                  </span>
                  <span class="col-xs-12 col-sm-8 col-md-4 address text-left notranslate top-bottom-padding-10">
                   <div  data-toggle=tooltip class="poptip" title="Bitcoin Address">
                   <kbd class="selectable-plain">{{usertemp.userAddress}} </kbd></div>
                  </span>
                  <span class="col-xs-12 col-sm-6 col-md-3 text-right notranslate top-bottom-padding-10" id="balances_<%=user.address%>">
                  <span>
                    <span class="available_balance_index hidden notranslate">0.00000000</span>
                    <kbd class="notranslate text-muted selectable-plain-no-color poptip" data-toggle=tooltip title="Available Balance">0.00000</kbd>
                    <span class="text-muted currency_symbol ">&#3647;</span>
                  </span>
                  <span class="text-info notranslate poptip pending_amount" data-toggle=tooltip title="Pending Amount">
                  </span>
                  </span>
                  <span class="col-xs-12 col-sm-6 col-md-2 text-right" ng-click="viewQRCodeModal(usertemp)" >
                      <button class="depositbutton btn btn-default padding-5">
                        <i class="fa fa-qrcode fa-fw poptip" data-toggle=tooltip title="View QR Code"></i>
                      </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
